body {
  font-family: "Manrope", sans-serif;
}
.main-wrapper {
  position: relative;
  height: 100vh;
}
.login-wrapper {
  position: relative;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-wrapper-inner {
  display: flex;
  max-width: 60%;
}
.login-left {
  background-image: linear-gradient(to left, #fff, rgb(255, 255, 255, 0.9));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  height: 630px;
  padding: 40px;
  align-items: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: -13px 18px 20px rgb(0, 0, 0, 0.2);
  p {
    font-size: 12px;
    margin: 0;
  }
  span {
    font-weight: 600;
  }
}
.login-right {
  background: linear-gradient(to bottom, #061f2d, #525649, #938561 155%);
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 40px 80px;
  width: 600px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 570px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.5);
  h1 {
    font-size: 30px;
  }
  .manager-name {
    font-size: 27px;
  }
  a {
    color: #fff;
    &:hover {
      color: #938561;
    }
  }
  #login-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
  }
}
.bg1 {
  background-image: url("../images/bg1.svg");
  height: 300px;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 30;
}
.bg2 {
  background-image: url("../images/bg2.svg");
  height: 100%;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  opacity: 0.79;
}
.bg3 {
  background-image: url("../images/bg3.svg");
  height: 100%;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
}
.adgm-primary-btn {
  background-color: #938561;
  width: 100%;
  margin-top: 40px;
  height: 50px;
  border: 0;
  &:hover {
    background-color: black;
  }
}
.login-main-heading {
  span {
    color: #938561;
  }
  margin-bottom: 40px;
}
.login-logo {
  width: 190px;
}
.dashboard-wrapper {
  position: relative;
  // height: 100vh;
  padding: 35px;
  margin-left: 100px;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: start;
}
.dashboard-sidebar {
  background: linear-gradient(to bottom, #061f2d, #525649, #938561 155%);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  color: #fff;
  position: absolute;
  left: -60px;
  width: 285px;
  transition: 0.4s all;
  height: 750px;
  &.opened {
    left: 264px;
  }
}
.dashboard-logo {
  background-color: #fff;
  padding: 10px 0 15px 50px;
  border-radius: 9px;
  margin: 25px 0 40px -11%;
  width: 116%;
  img {
    width: 133px;
  }
}
.side-bar-menu {
  list-style-type: none;
  padding: 0;
  li {
    margin-bottom: 10px;
  }
  a {
    color: #fff;
    text-decoration: none;
    display: block;
    min-height: 40px;
    padding: 10px 6px 10px 25px;
    .menu-icon {
      position: relative;
      width: 40px;
      display: inline-block;
      margin-right: 10px;
      .dot {
        position: absolute;
        height: 9px;
        width: 9px;
        top: -5px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #f36a6a;
        border-radius: 50%;
        display: inline-block;
      }
      img {
        width: 37px;
        height: 37px;
        padding: 8px;
      }
    }
    &:hover {
      img {
        background-color: #e0c682;
        border-radius: 6px;
      }
    }
  }
}
.dashboard-area {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.9));
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 1;
  .dashboard-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(147, 133, 97, 0.29);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    h1 {
      color: #002a3a;
      font-weight: 600;
      font-size: 19px;
      margin: 0;
      span {
        font-weight: 700;
      }
    }
    .timer {
      background-image: linear-gradient(to left, #fff, #e0c682 1300%);
      display: flex;
      justify-content: space-between;
      box-shadow: -4px 4px 5px rgb(0, 12, 12, 0.12);
      align-items: center;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      padding: 20px;
      gap: 8px;
      span {
        font-size: 12px;
        font-weight: 600;
      }
      .clock {
        background-color: #fff;
        border: 1px inset rgba(147, 133, 97, 0.31);
        border-radius: 4px;
        font-weight: 600;
        padding: 5px;
        margin-right: 10px;
      }
      .timeout-btn {
        background-color: #938561;
        border-radius: 4px;
        color: #fff;
        border: 0;
        font-weight: 600;
        font-size: 12px;
        padding: 8px;
      }
    }
    .user-profile {
      display: flex;
      gap: 17px;
      align-items: center;
      .top-uname {
        background-color: #ffffff;
        text-align: center;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        line-height: 30px;
        &:hover {
          border: 1px solid #938561;
        }
        img {
          width: 16px;
          height: 16px;
        }
        .dot {
          position: absolute;
          height: 9px;
          width: 9px;
          background-color: #f36a6a;
          border-radius: 50%;
          display: inline-block;
        }
      }
      .dropdown {
        button {
          border: 0;
        }
      }
    }
  }
  .dashboard-main-wrap {
    display: flex;
    .dashboard-cards-area {
      display: flex;
      width: 80%;
      padding: 20px;
      .slick-next {
        top: 54px;
        right: -22px;
      }
      &.expanded {
        width: 100%;
      }
    }
  }
  .featured-event-card {
    padding: 15px;
    border-radius: 6px;
    background-image: url("../images/featured-event.svg");
    background-size: cover;
    background-position: center;
    background-color: #002a3a;
    position: relative;
    box-shadow: 0px 16px 12px rgba(54, 60, 79, 0.8);
    margin-bottom: 50px;
    &:before {
      content: "";
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        transparent
      );
      width: 100%;
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .badge {
      background-color: #f6c459;
      padding: 8px;
      border-radius: 4px;
      color: #fff;
      margin-bottom: 35px;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      position: relative;
      z-index: 2;
    }
    .feature {
      position: relative;
      z-index: 2;
      span {
        color: #fff;
        border-bottom: 3px solid #fff;
        padding-bottom: 8px;
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
  .primary-heading {
    color: #002a3a;
    font-weight: 600;
    border-left: 2px solid #938561;
    padding-left: 10px;
    font-size: 17px;
    margin-bottom: 15px;
  }
  h3 {
    color: #938561;
    font-weight: 600;
    font-size: 13px;
    font-weight: 600;
  }
  .finance-forum {
    background-image: linear-gradient(#ffffff, #e0c682 430%);
    border-radius: 6px;
    border: 1px outset rgba(147, 133, 97, 0.27);
    padding: 10px 20px 35px 20px;
    span {
      background-color: #002a3a;
      color: #fff;
      padding: 8px;
      border-radius: 6px;
      margin-bottom: 10px;
      display: inline-block;
      font-weight: 600;
      font-size: 12px;
    }
    p {
      font-weight: 600;
      font-size: 13px;
    }
  }
  .attendance-and-leaves {
    display: flex;
    .availed-leaves {
      display: flex;
      background-color: #fff;
      border: 1px inset rgba(147, 133, 97, 0.28);
      border-radius: 6px;
      padding: 8px;
      margin-right: 5px;
      gap: 11px;
      .leaves {
        background-image: linear-gradient(#febd33, #e7873c);
        color: #fff;
        padding: 12px;
        width: 37px;
        height: 34px;
        line-height: 10px;
        border-radius: 7px;
        font-weight: 700;
        font-size: 20px;
        box-shadow: 4px 4px 5px rgb(0, 12, 12, 0.12);
      }
      .leaves-availed {
        span {
          color: #002a3a;
          font-weight: 600;
          font-size: 11px;
        }
      }
    }
    .available-leaves {
      display: flex;
      background-color: #fff;
      border: 1px inset rgba(147, 133, 97, 0.28);
      border-radius: 6px;
      padding: 8px;
      margin-right: 10px;
      margin-left: -10px;
      gap: 11px;
      .leaves-available {
        background-image: linear-gradient(#4aa36c, #5eea94);
        color: #fff;
        padding: 12px;
        width: 37px;
        height: 34px;
        line-height: 10px;
        border-radius: 7px;
        font-weight: 700;
        font-size: 20px;
        box-shadow: 4px 4px 5px rgb(0, 12, 12, 0.12);
      }
      .la {
        span {
          color: #002a3a;
          font-weight: 600;
          font-size: 11px;
        }
      }
    }
    .arrivals-and-departures {
      display: flex;
      background-color: #fff;
      border: 1px inset rgba(147, 133, 97, 0.28);
      border-radius: 6px;
      padding: 8px;
      margin-right: 10px;
      gap: 11px;
      .arrivals {
        background-image: linear-gradient(#f36a6a, #e7873c);
        color: #fff;
        padding: 12px;
        width: 37px;
        height: 34px;
        line-height: 10px;
        border-radius: 7px;
        font-weight: 700;
        font-size: 20px;
        box-shadow: 4px 4px 5px rgb(0, 12, 12, 0.12);
      }
      .late-arrivals {
        span {
          color: #002a3a;
          font-weight: 600;
          font-size: 11px;
        }
      }
      .departures {
        background-image: linear-gradient(#76c4cb, #b4dcdf);
        color: #fff;
        padding: 12px;
        width: 37px;
        height: 34px;
        line-height: 10px;
        border-radius: 7px;
        font-weight: 700;
        font-size: 20px;
        box-shadow: 4px 4px 5px rgb(0, 12, 12, 0.12);
      }
      .early-departures {
        span {
          color: #002a3a;
          font-weight: 600;
          font-size: 11px;
        }
      }
    }
  }
  .card-with-arrow {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px inset rgba(147, 133, 97, 0.28);
    border-radius: 6px;
    padding: 10px;
    margin-right: 1px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    height: inherit !important;
    margin: 0 15px;
    margin-bottom: 50px;
    img {
      width: 30px;
      display: inline;
    }
    h4 {
      font-size: 13px;
    }
    .arrow {
      background-color: #e0c682;
      border-radius: 50%;
      width: 53px;
      height: 53px;
      line-height: 40px;
      text-align: center;
      position: absolute;
      right: -15px;
      bottom: -15px;
      img {
        width: 17px;
      }
    }
  }
  .inbox-main {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
      #22546f,
      #938561,
      rgba(246, 196, 89, 0.92)
    );
    width: 20%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    transition: 0.5s ease;
    &.opened {
      right: 0;
      display: none;
      opacity: 1;
    }
    .index-area {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      padding: 30px;
      margin-bottom: -22px;
      .view {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
      }
    }
    .inbox-card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.89),
        rgba(234, 220, 184, 0.9)
      );
      border-radius: 16px;
      padding: 10px;
      margin-bottom: 24px;
      margin-left: 26px;
      margin-right: 26px;
      .inbox-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        span {
          margin-top: 1px;
          font-size: 11px;
          color: #002a3a;
        }
        .inside-inbox-head {
          background-color: #22546f;
          border-radius: 3px;
          font-size: 10px;
          font-weight: 400;
          text-align: center;
          padding: 4px;
          color: #fff;
          width: 110px;
        }
        .inside-inbox-head2 {
          background-color: #76c4cb;
          border-radius: 3px;
          font-size: 10px;
          font-weight: 400;
          text-align: center;
          padding: 4px;
          color: #fff;
          width: 110px;
        }
        .inside-inbox-head3 {
          background-color: #febd33;
          border-radius: 3px;
          font-size: 10px;
          font-weight: 400;
          text-align: center;
          padding: 4px;
          color: #fff;
          width: 110px;
        }
        .inside-inbox-head4 {
          background-color: #c8d652;
          border-radius: 3px;
          font-size: 10px;
          font-weight: 400;
          text-align: center;
          padding: 4px;
          color: #fff;
          width: 110px;
        }
        .inbox-dropdown {
          button {
            margin-top: -10px;
            border: 0;
          }
        }
      }
      .inbox-content {
        h5 {
          font-weight: 700;
          font-size: 12px;
        }
      }
      .inbox-footer {
        display: flex;
        justify-content: space-around;
        font-size: 11px;
        .inside-inbox-footer {
          display: flex;
          gap: 5px;
          span {
            background-color: rgba(246, 196, 89, 0.23);
            padding: 4px;
            border-radius: 50%;
            display: inline-block;
            width: 16px;
            height: 16px;
            line-height: 5px;
          }
          p {
            font-weight: 600;
          }
        }
      }
    }
  }
  .view-all {
    color: black;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px solid #938561;
    margin-bottom: 10px;
  }
}
.speaker {
  display: flex;
  justify-content: flex-end;
  .container-message {
    display: flex;
    position: relative;
    top: -70px;
    left: 85px;
    z-index: 2;
    display: none;
    &.opened {
      display: block;
    }
    .arrow {
      .outer-message {
        position: absolute;
        right: 31px;
        bottom: -11px;
        left: 237px;
        border-top: 16px solid #748a93;
        border-right: 17px solid transparent;
        border-left: 14px solid transparent;
        border-bottom: none;
      }
      .inner-message {
        position: absolute;
        right: 33px;
        bottom: -7px;
        border-top: 15px solid #fff;
        border-right: 15px solid transparent;
        border-left: 14px solid transparent;
        border-bottom: none;
      }
    }
    .comment {
      float: left;
      width: 300px;
      height: auto;
      background-color: #ffffff;
      border: 3px solid #748a93;
      padding: 6px 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
    }
  }
  .speaker-btn {
    border: none;
    .outer {
      background-image: linear-gradient(to right, #ffffff, #e0c682);
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 58px;
      box-shadow: -4px 7px 20px rgba(0, 0, 0, 0.2);
      width: 62px;
      height: 62px;
      margin-top: 20px;
      z-index: 1;
      .inner {
        background-image: linear-gradient(to right, #4aa36c, #c8d652);
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        width: 46px;
        height: 46px;
        img {
          width: 18px;
          height: 25px;
        }
      }
    }
  }
}
button.slick-next.slick-arrow {
  background: url("../images/slider-arrow.svg") no-repeat;
  border: 1px inset rgba(147, 133, 97, 0.28);
  border-radius: 50%;
  background-position: 7px;
  &:before {
    content: "";
  }
}
button.slick-prev.slick-arrow {
  background: url("../images/whitearrow2.svg") no-repeat;
  border: 1px inset transparent;
  border-radius: 50%;
  background-position: 7px;
  &:before {
    content: "";
  }
}
.sidebar-icon-wrap {
  position: relative;
}
.side-bar-slider {
  position: absolute;
  top: 20px;
  left: -10px;
  button {
    background-image: linear-gradient(#ffffff, rgba(224, 197, 130, 0.3));
    border: 1px outset hsla(43, 20%, 48%, 0.27);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    width: 26px;
    height: 26px;
    box-shadow: 0px 12px 12px rgb(0, 0, 0, 0.3);
    img {
      width: 10px;
    }
  }
}
.e-services-main-wrapper {
  .container-e-services {
    background-image: url("../images/e-servicesbg.svg"),
      linear-gradient(to right, #22546f, #e0c682);
    background-size: cover;
    padding: 30px;
    h2 {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      border-left: 2px solid #fff;
      padding-left: 10px;
    }
    .e-services-slider {
      padding: 30px 40px 30px 40px;
      button.slick-next.slick-arrow {
        background: url("../images/whitearrow.svg") no-repeat;
        border: 1px inset rgba(255, 255, 255, 0.37);
        background-position: 7px;
      }
      button.slick-prev.slick-arrow {
        background: url("../images/whitearrow2.svg") no-repeat;
        border: 1px inset rgba(255, 255, 255, 0.37);
        background-position: 7px;
      }
      .slick-prev {
        left: -10px;
      }
      .slick-next {
        right: -10px;
      }
      .hover-bottom:hover {
        border-bottom: 4px solid #938561;
        width: 100%;
      }
    }
  }
  .slick-track {
    display: flex !important;
  }
  .slick-slide {
    height: inherit !important;
    margin: 0 15px;
  }
  .slick-list {
    margin: 0 -30px;
  }
  .e-services-content-cards {
    padding: 50px;
    .e-services-content-card {
      width: 20%;
      margin-bottom: 20px;
    }
  }
}
.inside-bottom-head {
  span {
    background-color: #22546f;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    padding: 4px;
    color: #fff;
    width: 110px;
  }
}
.inside-bottom-content {
  h5 {
    font-weight: 700;
    font-size: 13px;
  }
}
.inside-bottom-arrow {
  display: flex;
  position: relative;
  span {
    position: absolute;
    overflow: hidden;
    margin-right: -8px;
    background-color: #e0c682;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    right: -15px;
    bottom: -15px;
    img {
      width: 17px;
    }
  }
}
.blue-badge {
  background-color: #22546f;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  padding: 4px;
  color: #fff;
  width: 110px;
}
.gray-gradient-card {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#ffffff, rgba(224, 224, 224, 0.53));
  border: 1px inset rgba(147, 133, 97, 0.28);
  border-radius: 6px;
  padding: 10px;
  margin-right: 1px;
  gap: 10px;
}
.form-main-wrapper {
  .container-form {
    background-image: url("../images/e-servicesbg.svg"),
      linear-gradient(to right, #22546f, #e0c682);
    background-size: cover;
    padding: 30px;
    h2 {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      border-left: 2px solid #fff;
      padding-left: 10px;
    }
  }
  .form-bottom {
    padding: 30px;
    h2 {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 20px;
    }
  }
  .comment-box {
    width: 100%;
    height: 80px;
  }
}
.breadcrumb-item {
  padding-top: 30px;
  &:before {
    color: #fff !important;
  }
  &.active {
    color: #e0c682 !important;
  }
  .home-btn {
    color: #fff;
    text-decoration: none;
  }
  .e-services-btn {
    color: #fff;
    text-decoration: none;
  }
  .inbox-btn {
    color: #fff;
    text-decoration: none;
  }
}
.inbox-main-wrapper {
  .container-inbox {
    background-image: url("../images/e-servicesbg.svg"),
      linear-gradient(to right, #22546f, #e0c682);
    background-size: cover;
    padding: 30px;
    h2 {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      border-left: 2px solid #fff;
      padding-left: 10px;
    }
  }
}
.inbox-items {
  padding: 10px;
  h2 {
    font-size: 41px;
    font-weight: 700;
  }
  h4 {
    font-size: 20px;
  }
  .inbox-page-card-wrap {
    padding: 30px;
  }
  .inbox-page-card-wrap:first-child {
    .inbox-page-card img {
      background-color: #4aa36c;
      padding: 10px;
      border-radius: 6px;
      box-shadow: 0px 16px 7px rgb(0, 0, 0, 0.18);
    }
  }
  .inbox-page-card-wrap:nth-child(2) {
    .inbox-page-card img {
      background-color: #f36a6a;
      padding: 10px;
      border-radius: 6px;
      box-shadow: 0px 16px 7px rgb(0, 0, 0, 0.18);
    }
  }
  .inbox-page-card-wrap:nth-child(3) {
    .inbox-page-card img {
      background-color: #ea9655;
      padding: 10px;
      border-radius: 6px;
      box-shadow: 0px 16px 7px rgb(0, 0, 0, 0.18);
    }
  }
  .inbox-page-card-wrap:last-child {
    .inbox-page-card img {
      background-color: #e0c682;
      padding: 10px;
      border-radius: 6px;
      box-shadow: 0px 16px 7px rgb(0, 0, 0, 0.18);
    }
  }
}
.inbox-page-card {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.89),
    rgba(234, 220, 184, 0.9)
  );
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 26px;
  padding-bottom: 26px;
  align-items: center;
  border-radius: 6px;
}
.inbox-bottom {
  padding: 30px;
  h2 {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 15px;
  }
  .table-heading {
    font-size: 15px;
    font-weight: 400;
  }
  .table-content {
    font-size: 17px;
    font-weight: 400;
    .no {
      font-weight: 400;
    }
    .pending {
      span {
        background-color: #ea9655;
        border-radius: 6px;
        text-align: center;
        color: #fff;
        padding: 5px 10px 5px 10px;
      }
    }
    a {
      color: black;
    }
  }
}
.modal-content {
  border-radius: 20px !important;
  width: 482px !important;
  height: 447px;
  .modal-header {
    border-bottom: none;
  }
  .modal-body {
    text-align: center;
    .outer-approve {
      background-color: #eeeeee;
      border-radius: 50%;
      display: inline-block;
      line-height: 126px;
      width: 130px;
      height: 130px;
      .inner-approve {
        background-color: #4aa36c;
        border-radius: 50%;
        display: inline-block;
        line-height: 96px;
        width: 100px;
        height: 100px;
      }
    }
    .fs-5 {
      font-size: 35px !important;
      font-weight: 600;
    }
    a {
      color: black;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 40px;
  .dark-btn {
    background-color: #002a3a;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #002a3a;
    padding: 10px 30px 10px 30px;
    &:hover {
      background-color: rgba(0, 41, 58, 0.89);
    }
  }
  .light-btn {
    background-color: transparent;
    color: #002a3a;
    border-radius: 3px;
    border: 1px solid #002a3a;
    padding: 10px 30px 10px 30px;
    &:hover {
      background-color: rgba(0, 41, 58, 0.89);
      color: #fff;
    }
  }
}
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}
.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
// RESPONSIVENESS
@media screen and (max-width: 576px) {
  .main-wrapper {
    height: auto;
  }
  .login-wrapper-inner {
    flex-direction: column;
  }
  .login-wrapper {
    height: auto;
    padding: 40px;
  }
  .login-left {
    height: auto;
    width: 100%;
    text-align: center;
    gap: 20px;
    padding: 15px 30px;
    border-radius: 0 0 25px 25px;
    order: 1;
  }
  .login-right {
    padding: 40px 30px;
    width: 100%;
    border-radius: 0;
    border-radius: 25px 25px 0 0;
  }
  .login-wrapper-inner {
    max-width: 100%;
  }
}